<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(head = null,content = ~{::content})}">
<th:block th:fragment="content">
  <div id="main">
    <div id="content">
      <div>
        <article role="article">
          <header>
            <h1 class="entry-title" th:text="${category.spec.displayName}"></h1>
          </header>
          <th:block th:each="post : ${posts.items}">
            <div id="blog-archives">
              <article>
                <h1> <a th:href="@{${post.status.permalink}}" th:title="${post.spec.title}"
                    th:text="${post.spec.title}"></a></h1>
                <time th:datetime="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}" pubdate data-updated="true"
                  th:text="${#dates.format(post.spec.publishTime,'yy-MM-dd')}|"></time>
              </article>
            </div>

          </th:block>
          <div class="pagination">
            <a th:if="${posts.hasPrevious()}" class="prev" th:href="@{${posts.prevUrl}}">上一页</a>
            <a th:if="${posts.hasNext()}" class="next" th:href="@{${posts.nextUrl}}">下一页</a>
          </div>
        </article>
      </div>
      <th:block th:if="${sidebar != null}">
        <th:block th:replace="${sidebar}" />
      </th:block>
      <th:block th:if="${sidebar == null}">
        <th:block th:replace="~{sidebar :: sidebar(prepend = null)}" />
      </th:block>
    </div>
  </div>
</th:block>

</html>