<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="html (head,content)">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
  <title th:text="${site.title}"></title>
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/jqcloud.min.css}" />
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <script th:src="@{/assets/js/modernizr-2.0.js}"></script>
  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/main.js}"></script>
  <script th:src="@{/assets/js/jqcloud.min.js}"></script>
  <link th:href="@{/assets/css/font.css}" rel="stylesheet" type="text/css">
  <th:block th:if="${head != null}">
    <th:block th:replace="${head}" />
  </th:block>
</head>

<body>
  <header role="banner">
    <hgroup>
      <h1><a href="/" th:text="${site.title}"></a></h1>
    </hgroup>
  </header>
  <nav role="navigation" th:with="menu = ${menuFinder.getPrimary()}">
    <ul class="subscription" data-subscription="rss">
      <li><a href="/rss.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
    </ul>
    <ul class="subscription" data-subscription="rss">
      <li th:if="${pluginFinder.available('PluginSearchWidget')}">
        <a href="javascript:SearchWidget.open()" title="搜索"
          class="text-gray-600 hover:text-blue-600 dark:text-slate-100">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <ul class="main-navigation" th:if="${menu != null} and ${not #lists.isEmpty(menu.menuItems)}">
      <li th:each="menuItem : ${menu.menuItems}">
        <a th:href="${menuItem.status.href}" th:text="${menuItem.status.displayName}"></a>
      </li>
    </ul>
  </nav>
  <section>
    <th:block th:replace="${content}" />
  </section>
  <footer role="contentinfo">
    <p th:with="social_medias = ${theme.config.social.socials}">
      <a th:each="social_media : ${social_medias}" th:href="${social_media.url}" th:title="${social_media.name}">
        <i th:classappend="${social_media.icon}">&nbsp;&nbsp;</i>
      </a>
      Copyright &copy; <span th:text="${site.title}"></span>
      <span class="credit"><a th:href="${theme.config.beian.icp_link}"
          th:text="${theme.config.beian.icp_text}"></a></span>
    </p>

  </footer>
</body>

</html>